<div class="container-fluid">
  <div class="row justify-content-center align-items-center" style="height: 100%;">
    <div class="col-md-4 text-center">
      <a routerLink="/student-profile" class="btn btn-custom btn-equal">
        <i class="fas fa-users"></i>
        <p>Student Profile Creation</p>
      </a>
    </div>
    <div class="col-md-4 text-center">
      <a routerLink="/students-data-table" class="btn btn-custom btn-equal">
        <i class="fa fa-eye"></i>
        <p>View Student Details</p>
      </a>
    </div>
    <div class="col-md-4 text-center">
      <a routerLink="" class="btn btn-custom btn-equal">
        <i class="fas fa-cogs"></i>
        <p>Support & Services</p>
      </a>
    </div>
  </div>
</div>
